:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-blue: #00beef;
  --color-blue2: #00a3cc;
  --color-black: #303030;
  --color-black2: #4a4a4a;
  --color-white: #F5F5F5;
  --color-red: red;
  --color-orange: hsl(25, 75%, 47%);
  --color-orange2: hsl(25, 75%, 40%);
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-white);
}