.nav-bar {
    position: fixed;
    width: 100%;
    background-color: var(--color-orange);
    z-index: 2;
}

.nav-bar ul {
    display: flex;
    justify-content: end;
    gap: 10px;
    list-style: none;
    padding-right: 30px;
    flex-wrap: wrap;
}

.nav-bar li {
    padding: 20px;
    font-size: 2rem;
    border-radius: 10px;
    color: var(--color-white);
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.nav-bar li:hover {
    background-color: var(--color-orange2);
}

.nav-bar a {   
    text-decoration: none;
    color: inherit;
    padding: 20px 0;
}
